/* Style Utama */
body {
    font: 18px/36px 'Arial Narrow', arial, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(175, 142, 77);
}

h1 {
    font-size: 80px;
    line-height: 0.90;
    margin: 50px 0;
    text-align: center;
    text-shadow: 1px 1px 2px white ;
}


.container {
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
}


.gallery li {
    width: 120px;
    height: 120px;
    /*overflow: hidden;*/
    border: 5px solid #666;
    float: left;
    margin-right: 20px;
    position: relative;
}

.gallery li,
.gallery li img,
.gallery li span {
    border-radius: 50%;
}

.gallery li span {
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    top: 0;
    text-align: center;
    line-height: 120px;
    color: #333;
    text-shadow: 1px 1px 1px;
    opacity: 0;
    transition: 3px;
  
}

.gallery li a:hover span {
    opacity: 1;
    transform: scale(1) rotate(360deg);
}


.clear {
    clear: both;
}



/* overlay */
.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: .8s;
    text-align: center;
    padding: 100px;
}

.overlay:target {
    width: auto;
    height: auto;
    bottom: 0; 
    right: 0;
    background: rgba(0,0,0,.8);
}

.overlay img {
    max-height: 100%;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);

}

.overlay:target img {
    animation: zoomDanFade 1s;
}

.overlay .close {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 1px solid white;
    line-height: 14px;
    padding: 5px;
    opacity: 0;
}

.overlay:target .close {
    animation: slideDownFade .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev {
    animation: fadeAjah .5s .5s forwards;
}

/* navigasi */
.next, .prev {
    width: 64px;
    height: 64px;
    background-image: url(../img/next-button.png);
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    margin-left: 50px;
    opacity: 0;
}

.prev {
    background-image: url(../img/back.png);
    margin-left: -100px;
}



/*animasi*/
@keyframes fadeAjah {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomDanFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -20px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}


.footer {
    text-align: center;
    padding: 80px;
    font-size: 14px;
    text-decoration: underline;
}
